# appdirs @ file:///private/tmp/nix-build-python3.7-appdirs-1.4.4.drv-0/appdirs-1.4.4/dist/appdirs-1.4.4-py2.py3-none-any.whl
# distlib @ file:///private/tmp/nix-build-python3.7-distlib-0.3.1.drv-0/distlib-0.3.1/dist/distlib-0.3.1-py3-none-any.whl
# filelock @ file:///private/tmp/nix-build-python3.7-filelock-3.0.12.drv-0/filelock-3.0.12/dist/filelock-3.0.12-py3-none-any.whl
# importlib-metadata @ file:///private/tmp/nix-build-python3.7-importlib-metadata-1.6.0.drv-0/importlib_metadata-1.6.0/dist/importlib_metadata-1.6.0-py2.py3-none-any.whl
# more-itertools @ file:///private/tmp/nix-build-python3.7-more-itertools-8.3.0.drv-0/more-itertools-8.3.0/dist/more_itertools-8.3.0-py3-none-any.whl
# six @ file:///private/tmp/nix-build-python3.7-six-1.15.0.drv-0/six-1.15.0/dist/six-1.15.0-py2.py3-none-any.whl
# virtualenv @ file:///private/tmp/nix-build-python3.7-virtualenv-20.0.28.drv-0/virtualenv-20.0.28/dist/virtualenv-20.0.28-py2.py3-none-any.whl
# zipp @ file:///private/tmp/nix-build-python3.7-zipp-3.1.0.drv-0/zipp-3.1.0/dist/zipp-3.1.0-py3-none-any.whl
